NEXT_PUBLIC_SUPABASE_ANON_KEY="REDACTED_JWT"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="REDACTED_SB"
NEXT_PUBLIC_SUPABASE_URL="https://REDACTED.supabase.co"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.REDACTED.supabase.co"
POSTGRES_PASSWORD="7YBzDjYBWYtYBl0E"
POSTGRES_PRISMA_URL="postgres://postgres.REDACTED:7YBzDjYBWYtYBl0E@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_URL="postgres://postgres.REDACTED:7YBzDjYBWYtYBl0E@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL_NON_POOLING="postgres://postgres.REDACTED:7YBzDjYBWYtYBl0E@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY="REDACTED_JWT"
SUPABASE_JWT_SECRET="GLht9rsb4VuMREaUTVZc17GZb8mDpp2sWoYSloSnUhyt7y1XhEPdxIPHyVpFGaXm4J9jOmFEw0w/oCYRJhSpOA=="
SUPABASE_PUBLISHABLE_KEY="REDACTED_SB"
SUPABASE_SECRET_KEY="REDACTED_SB"
SUPABASE_SERVICE_ROLE_KEY="REDACTED_JWT"
SUPABASE_URL="https://REDACTED.supabase.co"
VERCEL_OIDC_TOKEN="REDACTED_JWT"
DATABASE_URL="postgres://postgres.REDACTED:7YBzDjYBWYtYBl0E@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x&uselibpqcompat=true"
PAYLOAD_SECRET=YOUR_SECRET_HERE
S3_BUCKET="Wicky_Data"
S3_ACCESS_KEY_ID="REDACTED"
S3_SECRET_ACCESS_KEY="REDACTED"
S3_ENDPOINT="https://REDACTED.storage.supabase.co/storage/v1/s3"
S3_REGION="ap-southeast-1"
PUBLIC_FRONTEND_URL="http://localhost:3000"
REQUIRE_LOGIN="no"

